@model Sudoku.Models.ViewModels.IndexVM

<div class="game-wrapper">
    <div class="rating">Rating: @Model.GetSimpleRating() of 5</div>
    <div class="game" data-id="@Model.BoardId">
        @Html.DisplayFor(m => m.Board, "_BoardPreview")
    </div>
</div>

